@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
  font-family: 'Readex Pro', sans-serif;
}

.container {
  max-width: 90%;
  max-height: 80%;
  margin: 20px auto;
  overflow: auto;
  min-height: 300px;
  border: 8px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background: rgb(148, 66, 148);
  color: rgb(255, 255, 255);
  opacity: 0.6;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 6px;
  /* cursor: pointer; */
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  transition-duration: 0.3s;
}

.btn:hover {
  opacity: 1;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 0 3px 15px -2px;
}

.header {
  /* overflow: hidden; */
  display: grid;
  grid-template-areas: 'logo-nav';
  background-color: wheat;
  /* padding: 10px 10px;
  width: 100%; */
}

.nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-items: center;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgb(66, 115, 148);
  transition-duration: 0.3s;
}
a:active {
  text-decoration: none;
  color: white;
  transition-duration: 0.3s;
}

.logo {
  height: 80px;
  width: auto;
  border-radius: 50%;
}

.footer {
  background-color: wheat;
  /* position: fixed; */
  /* fixed position creates sticky footer */
  position: relative;
  margin-top: 100px;
  width: 100%;
  bottom: 0;
  color: black;
  font-size: 20px;
  display: grid;
  justify-items: center;
  justify-content: center;
}

.footerimg {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.mainHeader {
  text-align: left;
  padding: 5px;
  margin-top: 10px;
  margin-left: 25px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.intro {
  text-align: left;
  font-size: 17px;
  /* width: 750px; */
  width: 50%;
  padding: 10px;
  margin-top: 0px;
  margin-left: 55px;
  margin-bottom: 10px;
  color: rgb(66, 115, 148);
  font-family: 'Montserrat', sans-serif;
}

.drink {
  font-family: 'Montserrat', sans-serif;
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  border: 5px solid wheat;
  max-width: 50%;
}

.btn-block {
  display: block;
  /* background-color: rgb(45, 133, 103); */
  background-color: #6abd4a;
  width: 30%;
}

.add-drink {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 30%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 13px;
}

.no-drink {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  padding: 20px;
  display: grid;
  justify-items: center;
  justify-content: center;
}

.no-drink-icon {
  height: 20px;
  width: auto;
  /* color: thistle; */
  color: black;
}

.delete-icon {
  align-self: right;
  margin-left: 8px;
}

.edit-icon {
  margin-left: 5px;
}

.update-drink {
  font-family: 'Montserrat', sans-serif;
  margin-left: 5%;
  /* max-width: 20%; */
  /* max-height: 80%; */
  /* margin: 20px auto;
  overflow: auto;
  min-height: 300px;
  border: 8px solid steelblue;
  padding: 30px;
  border-radius: 5px; */

}